tensorflow==2.15.0
opencv-python-headless==4.9.0.80
Flask==3.0.3
numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
scikit-learn==1.4.2
tqdm==4.66.4
matplotlib==3.8.4
jiwer==3.0.3
seaborn==0.13.2
reportlab==4.2.0
pytest==8.2.0
pytest-cov==5.0.0
waitress==3.0.0
gunicorn==22.0.0
